
@{
    ViewBag.Title = "Echantillon";
}

<h2>Echantillon</h2>


<div class="container">
    <h2 id="employe" data-id="@ViewBag.Employe.Id">Bienvenue @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>@ViewBag.Employe.Nom : vous avez donné :</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="modal_RDV_form">Praticien : @</th>
                <th class="modal_RDV_form">Date RDV</th>
                <th class="modal_RDV_form">Heure RDV</th>
                <th class="modal_RDV_form">Date Bilan</th>
                <th class="modal_RDV_form">Enchantillons donnés</th>
            </tr>

        </thead>
        <tbody>
          
        </tbody>
    </table>
    <h2>Liste echantillons donnees</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)">
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#RDVModal" data-action="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#RDVModal" data-action="modify"><span class="glyphicon glyphicon-edit"></span>Modifier</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning" id="eraseRDV" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </td>
            </tr>
            <tr>
                <th class="modal_RDV_form">Famille</th>
                <th class="modal_RDV_form">nom</th>
                <th class="modal_RDV_form">quantite</th>
                <th class="modal_RDV_form">concentration</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>




    <div class="modal fade" id="EDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Echantillons Données</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="famille" class="col-form-label">Famille:</label>
                            <select class="browser-default custom-select" id="select_famille">
                                <option value="Choisir une famille" selected>Choisir une famille</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Medicament:</label>
                            <select class="browser-default custom-select" id="medicament">
                                <option value="Choisir un medicament" selected>Choisir un medicament</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Indice de confiance:</label>
                            <select class="browser-default custom-select" id="indice_confiance">
                                <option selected>Choisir un indice</option>
                               
                            </select>
                        </div>
                        <div class="form-group">
                            <div class='col-sm-8' id="col-sm-8_RDV">
                                <div class="form-group">
                                    <label for="datetimepicker_rdv" class="col-form-label">Date bilan:</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='date' class="form-control" id="datetimepicker_rdv" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="send_RDV" class="btn btn-success" data-action="modify"><span class="glyphicon glyphicon-ok"></span>Envoyer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</div>


}
