@{
    ViewBag.Title = "Etablissements";
}

<h2>Praticien</h2>
@{
<div class="container">
    <h2>Liste des établissements répertoriés</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)">
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="" data-action="seeDoc"><span class="glyphicon glyphicon-edit"></span>Voir Praticiens</button>
                </td>
            </tr>
            <tr>
                <td class="modal_RDV_form">Choix</td>
                <td class="modal_RDV_form">Etablissement</td>
                <td class="modal_RDV_form">Adresse RDV</td>
            </tr>
        </thead>
        <tbody>
            @{
            var bat = ViewBag.MesEtablissement;
            int tailleBat = bat.Count;



            for (int index = 0; index < tailleBat; index++)
            {
            <tr>
                <th class="modal_RDV_form">
                    <input @{ string select=index = =0 ? "checked" : "" ; } type="radio" aria-label="" name="bat_radio" value="@bat[index].Etablissement" data-id="@bat[index].Etablissement">
                </th>
                <th class="modal_RDV_form">@bat[index].Etablissement</th>
                <th class="modal_RDV_form">@bat[index].Adresse</th>
            </tr>
            }
            }
        </tbody>
    </table>
</div>
    @section scripts {
        <script type="text/javascript">
            $('#seeDoc').click(function () {
                var id_etablissemenb = $("input[name='rdv_radio']:checked").data('id');
                if (id_rdv != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxDelete",
                        data: "table=" + 'rendez_vous' + "&id=" + id_rdv,
                    }).then(function () {
                        location.reload();
                    });
                }
            });
        </script>
    }
}

