@{
    ViewBag.Title = "Etablissements";
}

<h2>Praticien</h2>
@{
<div class="container">
    <h2>Liste des établissements répertoriés</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)">
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#EtablissementPraticienModal" data-action="EtablissementPraticienModal"><span class="glyphicon glyphicon-edit"></span>Voir Praticiens</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#AddPraticienModal" data-action="AddPraticienModal"><span class="glyphicon glyphicon-edit"></span>Ajouter Etablissement</button>
                </td>
            </tr>
            <tr>
                <td class="modal_RDV_form">Choix</td>
                <td class="modal_RDV_form">Etablissement</td>
                <td class="modal_RDV_form">Adresse</td>
            </tr>
        </thead>
        <tbody>
            @{
                var bat = ViewBag.MesEtablissement;
                int tailleBat = bat.Count;

                for (int index = 0; index < tailleBat; index++)
                {
                    <tr>
                        <th class="modal_RDV_form">
                            <input checked type="radio" aria-label="" name="bat_radio" data-id="@bat[index].Id">
                        </th>
                        <th class="modal_RDV_form">@bat[index].Nom</th>
                        <th class="modal_RDV_form">@bat[index].Adresse</th>
                    </tr>
                }
            }
        </tbody>
    </table>

 <!--      MODAL  =  AFFICHE LES PRATICIENS RELATIFS A L'ETABLISSEMENT SELECTIONNE     -->

    <div class="modal fade" id="EtablissementPraticienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gestion des praticiens</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6' id="col-sm-6_RDV">
                                    <div class="form-group" style="display:flex; flex-direction: row; align-items: center;">
                                        <label for="etablissement-nom-input" class="col-2 col-form-label">Nom</label>
                                        <input class="form-control" type="text" value="" id="etablissement-nom-input" required readonly>
                                        <label for="etablissement-adresse-input" class="col-2 col-form-label">Adresse</label>
                                        <input class="form-control" type="text" value="" id="etablissement-adresse-input" required readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <select class="custom-select" size="15" id="liste-praticiens" style="width:565px">
                                </select>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_praticien" class="btn btn-success" data-action="add"><span class="glyphicon glyphicon-ok"></span>Ajouter un praticien</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

<!--      MODAL  =  OFFRE LES INPUTS POUR AJOUTER UN ETABLISSEMENT     -->

    <div class="modal fade" id="AddPraticienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gestion des établissements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6' id="col-sm-6_RDV">
                                    <div class="form-group" style="display:flex; flex-direction: row; align-items: center;">
                                        <label for="etablissement-add-nom-input" class="col-2 col-form-label">Nom</label>
                                        <input class="form-control" type="text" value="" id="etablissement-add-nom-input" required>
                                        <label for="etablissement-add-adresse-input" class="col-2 col-form-label">Adresse</label>
                                        <input class="form-control" type="text" value="" id="etablissement-add-adresse-input" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add_etablissement" class="btn btn-success" data-action="add"><span class="glyphicon glyphicon-ok"></span>Ajouter etablissement</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts {
        <script type="text/javascript">
            $('.buttonModal').click(function () {
                var action = $(this).data('action');

                if (action == "EtablissementPraticienModal") {
                    var id_etablissement = $("input[name='bat_radio']:checked").data('id');

                    try {
                        $.ajax({
                            type: "POST",
                            url: "/Commercial/AjaxReader",
                            data: "table=" + 'etablissement' + "&id=" + id_etablissement,
                        }).then(function (response) {
                            var JsonResponse = JSON.parse(response);

                            var html;
                            $('#liste-praticiens').empty();

                            $.each(JsonResponse, function (key, value) {
                                if (key != 0)
                                {
                                    html = "<option>" + value.Fonction + " " + value.Specialite + " - " + value.Nom + " " + value.Prenom + "</option>";
                                    $('#liste-praticiens').append(html);
                                }
                            })

                            $('#etablissement-nom-input').val(JsonResponse[0].Etablissement.Nom);
                            $('#etablissement-adresse-input').val(JsonResponse[0].Etablissement.Adresse);
                        });
                    } catch (ex) {
                        alert("catch Ajax Error" + ex);
                    }
                }
            });


            $('#add_etablissement').click(function () {
                var nom = $('#etablissement-add-nom-input').val();
                var adresse = $('#etablissement-add-adresse-input').val();

                if (nom != "" && adresse != "") {
                    try {
                        $.ajax({
                            type: "POST",
                            url: "/Commercial/AjaxAddEtablissement",
                            data: "nom=" + nom + "&adresse=" + adresse,
                        }).then(function () {
                            location.reload();
                        });
                    } catch (ex) {
                        alert("catch Ajax Error" + ex);
                    }
                }
                  
                if (nom == "") {
                    $('#etablissement-add-nom-input').css('border-color', 'red');
                } else {
                    $('#etablissement-add-nom-input').css('border-color', '');
                }

                if (adresse == "") {
                    $('#etablissement-add-adresse-input').css('border-color', 'red');
                } else {
                    $('#etablissement-add-adresse-input').css('border-color', '');
                }
              
            });

            $('add_praticien').click(function () {
                var nom = $('#etablissement-add-nom-input').val();
                var adresse = $('#example-add-adresse-input').val();

                if (nom != "" && adresse != "") {
                    try {
                        $.ajax({
                            type: "POST",
                            url: "/Commercial/AjaxAddPraticien",
                            data: "nom=" + nom + "&adresse=" + adresse,
                        }).then(function () {
                            location.reload();
                        });
                    } catch (ex) {
                        alert("catch Ajax Error" + ex);
                    }
                }
                

            });

        </script>
    }
}

